body
	{
		background: url('../images/bg3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: #f2f2f2;
		font-family: 'Montserrat', sans-serif;
    font-weight: 400;
	}

@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

/* heading section */
h1,h2,h3,h4 {
  color: #fff;
  font-weight: bold;
}

h1,h2 {
  font-size: 30px;
}

/* images retina */
img {
  max-width: 100%;
  height: auto;
}

/* button section */
.btn {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  box-shadow: none;
  color: #fff;
  padding: 12px 18px;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.4s ease-in;
}
.btn:hover {
  background: #fada25;
  border-color: transparent;
}

.email {
	margin-top: 10px;
	padding: 8px 12px;
}

/* navigation */

.navbar-default {
    background: #f2f2f2;
    border: none;
    border-left: 10px solid #fada25;
    border-right: 10px solid #19445b;
    padding-right: 40px;
    margin: 0 !important;
    position: relative;
    top: 20px;
  }
.navbar-default .navbar-brand {
    padding-top: 12px;
   }
.navbar-default .navbar-nav li a {
  color: #19445b;
  font-size: 13px;
  font-weight: 600;
  line-height: 40px;
  transition: all 0.4s ease-in;
 }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fada25;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  	color: #19445b;
  	background-color: transparent;
}
.navbar-default .navbar-toggle {
  	background: #e1f2fd;
  	border-radius: 0px;
   	border: none;
   	margin-top: 20px;
   	margin-bottom: 30px;
}
.navbar-default .navbar-toggle .icon-bar {
    background: #fada25;
    border-color: #fada25;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent 
}

.active {
	background: #fada25;
}

/* home section */
#home {
  background: url('../images/home-bg5.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  padding-bottom: 100px;
  padding-top: 150px;
}
#home h1,
#home h3 {
  line-height: 130px;
  font-size: 130px;
  opacity: 1;
  padding-top: 50px;
  text-align: center;
}

/* divider section */
.divider {
  color: #fff;
  text-align: center;
}
.divider .fa {
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 32px;
  width: 80px;
  height: 80px;
  line-height: 76px;
  text-transform: capitalize;
}
.divider h2 {
  padding-bottom: 4px;
}
.divider .divider-wrapper {
  padding: 5px 5px 5px 5px;
  position: relative;
  bottom: 40px;
  transition: all 0.4s ease-in;
}
.divider .divider-wrapper:hover {
  bottom: 100px;
  cursor: pointer;
}
.divider .divider-one {
  background: #f2f2f2;
}

/* about section */
#about {
  background: url('../images/home-bg8.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  padding-bottom: 60px;
  padding-top: 60px;
}
#about .container {
  background: #f2f2f2;
}
#about h2 {
  color: #047ab2;
  padding-top: 30px;
}
#about p {
  color: #909090;
}
#about .col-md-6 {
  padding: 0;
  margin: 0;
}
#about .about-des {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
}
#about .btn {
  margin-top: 30px;
  color: #047ab2;
  background: #c7edff;
}


/* team section */
#team {
  padding-top: 100px;
  padding-bottom: 80px;
}
#team h2 {
  padding-bottom: 10px;
  text-align: center;
}
#team p, h3, h4 {
  text-align: center;
}
#team .team-wrapper {
  padding: 20px;
}
#team h4 {
  color: #fada25 ;
}
#team img {
  opacity: 0.8;
}
#team hr {
  border-color: #f2f2f2;
  margin-top: 20px;
  margin-bottom: 20px;
}
#team strong {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 10px;
}

/* portfolio section */
#portfolio-header {
  background: url('../images/home-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 160px;
}
#portfolio {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 60px;
  color: #f2f2f2;
  }
#portfolio .col-md-4,
#portfolio .col-md-3 {
  padding: 0;
  margin: 0;
}
#portfolio img {
  width: 100%;
  transition: all 0.4s ease-in;
  opacity: 1;
}
#portfolio img:hover {
  opacity: 0.5;
}
#portfolio .btn {
  margin-top: 30px;
}

/* contact section */
#contact-header {
  background: url('../images/home-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 160px;
}
#contact {
  padding-top: 80px;
  padding-bottom: 60px;
}
#contact h2 {
  text-align: center;
  padding-bottom: 10px;
}
#contact h3 {
  padding-top: 20px;
}
#contact p {
  text-align: center;
}
#contact .form-control {
  background: none;
  border: solid 1px;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 20px;
  transition: all 0.4s ease-in;
  color: #fff;
}
#contact .form-control:focus {
  background: #047bb254;
}
#contact input {
  height: 53px;
}
.form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #fff;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
iframe {
  width: 100%;
  height: 500px;
}

/* footer section */
footer {
  background: #0a2e42;
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .fa {
	font-size: 18px;
	margin-right: 10px;
	padding: 5px;
}
footer h3 {
  padding-bottom: 10px;
}
footer p {
  padding-top: 10px;
}
footer .img-responsive {
  padding-top: 70px;
  width: 70%;
}
footer .img-logo  {
  width: 80%;
}

footer .newsletter p {
  padding-bottom: 10px;
}
footer .form-control {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0px;
  padding-bottom: 10px;
}

footer .form-control:focus,
footer .form-control:hover {
	color: #fff;
  	background: #19445b;
  	border-color: transparent;
}
footer .input-group-addon {
  background: #fff;
}
footer a, footer a:visited {
  font-size: 14px;
  color: #999;
}
footer a:hover {
  color: #fff;
  text-decoration: none;
}

/* media 960 */
@media ( max-width: 980px ) {
  .divider .divider-wrapper {
    margin-bottom: 20px;
  }
  #about .about-des {
    padding-bottom: 40px;
  }
  #team .team-wrapper {
    margin-bottom: 40px;
  }
  #contact h3 {
    padding-top: 20px;
  }
  #contact .btn {
    margin-bottom: 20px;
  }
  footer h3 {
    padding-top: 30px;
  }
}